[submodule "app/src/commonMain/kotlin/com/molikuner/util"]
	path = app/src/commonMain/kotlin/com/molikuner/util
	url = git@github.com:vpapp-team/frontend-util.git
[submodule "app/src/commonMain/kotlin/com/molikuner/nigb/types"]
	path = app/src/commonMain/kotlin/com/molikuner/nigb/types
	url = git@github.com:vpapp-team/frontend-types.git
[submodule "app/src/commonMain/kotlin/com/molikuner/nigb/data"]
	path = app/src/commonMain/kotlin/com/molikuner/nigb/data
	url = git@github.com:vpapp-team/frontend-data.git
[submodule "app/src/commonMain/kotlin/com/molikuner/types"]
	path = app/src/commonMain/kotlin/com/molikuner/types
	url = git@github.com:molikuner/app-types.git
